yfinance==0.2.40
pandas==2.2.2
pandas-ta==0.3.14b
numpy==1.26.4
scikit-learn==1.5.1
python-telegram-bot==20.7
requests==2.32.3
beautifulsoup4==4.12.3
schedule==1.2.2
python-dotenv==1.0.1
colorama==0.4.6
